# Change the values to be correct for you and copy to .env
OWID_UA="MedWiki owid exporter. Questions? email EMAIL@EMAIL.COM"
OWID_OAUTH_TOKEN=
OWID_OAUTH_SECRET=

OWID_MW_API=http://localhost:8083/api.php
OWID_DEBUG=1

OWID_OAUTH_INITIATE="http://localhost:8083/w/index.php?title=Special:OAuth/initiate&oauth_callback=oob"
OWID_OAUTH_AUTH=http://localhost:8083/index.php?title=Special:OAuth/authorize
OWID_OAUTH_TOKEN_URL=http://localhost:8083/w/index.php?title=Special:OAuth/token

OWID_ENV=development
OWID_ENCRYPTION_KEY=a20126eb4092f6c64be26b71e784693c3dc09e745de0f47967ad42f16838feb8 # 32-bit encryption key, can be generated with `openssl rand -hex 32`
OWID_CLIENT_BUILD_PATH=/app/client/dist
OWID_DB_DIR=/app/data