# Change the values to be correct for you and copy to .env
OWID_UA="MedWiki owid exporter. Questions? email YOUR EMAIL HERE"
OWID_OAUTH_TOKEN=
OWID_OAUTH_SECRET=
OWID_OAUTH_INITIATE=http://localhost/w/index.php?title=Special:OAuth/initiate&oauth_callback=oob
OWID_OAUTH_AUTH=http://localhost/w/index.php?title=Special:OAuth/authorize
OWID_OAUTH_TOKEN_URL=http://localhost/w/index.php?title=Special:OAuth/token
OWID_MW_API=http://localhost/w/api.php
OWID_DEBUG=1
